<div class="container pt-3 pb-3 border-bottom">
  <div class="row">
    <div class="col-12 pb-3">
        <h3>get Git projects list</h3>
        <div class="form-group d-flex">
          <input #input [formControl]="searchInput" [ngModel]="name" type="text">
        </div>
        <ul>
          <li class="d-flex" *ngFor=" let user of usersGit">
              <p class="mb-0 mr-3">{{user.name}}</p><a target="_blank" href="{{user.link}}">{{user.link}}</a>
          </li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 pb-3">
      <h3>Get user by Id</h3>
    </div>
    <div class="col-6 pb-3">
      <form [formGroup]="formId">
      <div class="form-group">
        <label>Type user id:</label>
        <input class="form-control" type="text" formControlName="id"/>
        <label class="w-100" *ngIf="nameView">User {{name}}</label>
        <button class="btn btn-primary mt-3" (click)="getUserId()">Get user</button>
      </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Http</h3>
    </div>
    <div class="col-12 pb-3">
      <ul>
        <li *ngFor="let user of userName; let i = index">
          {{i+1}} {{user}}
        </li>
      </ul>
    </div>
  </div>
</div>

