<div class="nav flex-column nav-pills" aria-orientation="vertical">
    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/posts">Posts</a>
    <a class="nav-link" routerLinkActive="active" [routerLink]="['item', '5']">Item</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/forms">Forms</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/http">Http</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/following">Following</a>
</div>
