<app-form></app-form>
<div class="container pt-3 pb-3 border-bottom">
  <div class="row">
    <div class="col-12">
      <h3>App Component</h3>
    </div>
    <div class="col-6">

        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" [(ngModel)]="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Price</label>
          <input type="number" class="form-control" [(ngModel)]="price" id="exampleInputPassword1" placeholder="Enter price">
        </div>

        <button (click)="addItem(name, price)" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-6">
      <table class="table d-table-row w-100">
        <thead>
        <tr>
          <td>Name</td>
          <td>Price</td>
          <td>Status</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td><input type="checkbox" [(ngModel)]="item.status"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container pt-3 pb-3 border-bottom">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input [(ngModel)]="text"  type="text">
        <button (click)="addData(text)" class="btn btn-primary">Add data</button>
      </div>
      <ul>
        <li *ngFor="let model of modelsList">
          {{model}}
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container pt-3 pb-3 border-bottom">
  <div class="row">
    <div class="col-12">
      <h3>Child component</h3>
    </div>
    <div class="col-12">
      <app-child [(user)]="nameUser"></app-child>
      <div>Chosed name: {{nameUser}}</div>
    </div>
  </div>
</div>
