<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex">
          <h3>Who to follow</h3>
          <button (click)="refreshUsers()" class="btn btn-primary ml-3">Refresh</button>
        </div>
        <div class="card-body">
          <div *ngFor="let user of sugestList;" class="card-text d-flex align-content-center justify-content-start w-100 mb-3">
            <div class="figure-img rounded-circle overflow-hidden mb-0 mr-4">
              <img class="mw-100" src="{{user.avatar_url}}" alt="">
            </div>
            <p class="d-flex mb-0 mr-3">{{user.login}}<a class="ml-3" href="{{user.html_url}}">{{user.html_url}}</a></p>
            <button class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

